@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Londrina+Solid&family=Oswald&family=Roboto:ital@0;1&family=Source+Sans+Pro:wght@200&display=swap");

* {
  font-family: "Londrina Solid", cursive;
  font-weight: 500;
  color: #311500;
  margin: 0px;
}
